#main-page-container {
    margin: 32px;
    display: flex;
    justify-content: center;
}

/* displays */
.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.align-baseline {
    align-items: baseline;
}

.space-between {
    justify-content: space-between;
}

.height-fit-content {
    height: fit-content;
}

.gap-1 {
    gap: 0.4rem;
}

.gap-2 {
    gap: 1.2rem;
}

.column-gap-1 {
    column-gap: 0.4rem;
}

.column-gap-2 {
    column-gap: 1.2rem;
}

.row-gap-1 {
    row-gap: 0.4rem;
}

.row-gap-2 {
    row-gap: 1.2rem;
}

.column-gap-2-percent {
    column-gap: 2%;
}

.centered {
    margin: 0 auto;
}

.margin-0 {
    margin: 0;
}

.medium-map {
    width: 300px;
    height: 300px;
    z-index: 1;
    --underline-img: none;
}

.large-map {
    width: 100%;
    height: 70vh;
    z-index: 1;
    --underline-img: none;
}

.pointer {
    cursor: pointer;
}

.btn-with-background.fr-btn--secondary {
    background-color: var(--background-default-grey);
}

h4 {
    color: var(--background-flat-blue-cumulus);
}

.full-width {
    width: 100%;
}

.flex-1 {
    flex: 1;
}

.align-start {
    align-items: flex-start;
}

.force-input-hidden input, input.force-input-hidden {
    opacity: 0;
}